<aside>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/products">View Listings</a>
    </li>
    <li>
      <a href="">Create Listing</a>
    </li>
    <li>
      <a href="">Users</a>
    </li>
  </ul>

</aside>