<aside class="nav-bar">
  <ul>
    <li class="nav-items">
      <a class="navbar-links" href="/">Home</a>
    </li>
    <li class="nav-items">
      <a class="navbar-links" href="/products">View Listings</a>
    </li>
    <li class="nav-items">
      <a class="navbar-links" href="/users">Users</a>
    </li>
  </ul>
</aside>