<aside class="nav-bar row">
  <ul class="align-self-center ">
    <li class="nav-items px-3 py-2">
      <a class="navbar-links" href="/">Home</a>
    </li>

    <li class="nav-items px-3 py-2">
      <a class="navbar-links" href="/products">View Listings</a>
    </li>
    
    <li class="nav-items px-3 py-2">
      <a class="navbar-links" href="/users">Sellers</a>
    </li>
  </ul>
</aside>