<script defer src="/scripts/searchBar.js"></script>

<div class="search-bar row">
  <div class="col">
    <i class="fas fa-search mr-1"></i>
    <input id="input-bar" onkeyup="searchBar()"  type="text" name="search" placeholder="search for products" />
    <ul class="search-items">
        <% for(let i = 0; i < products.length; i++) { %> 
            <li class="search">
              <a class = "search-link" href="/products/<%= products[i].id %>"><%= products[i].type %></a>
            </li>
        <% } %>
    </ul>
  </div>
</div>
