
<script src="./scripts/app.js"></script> 


<div class="search-bar row justify-content-end mt-3" >
    <input id="input-bar" onkeyup="searchBar()"  type="text" name="search">
    <button id="search-btn">Search</button>
</div>

