<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express List</title>
  </head>
  <body>
    <h1>Express List</h1>
    <%- include('./partials/navbar') %> 


<h2>Create A Profile!</h2>
    <button class="btn btn-primary">
      <a href="/users/new">Sign up!</a>
    </button>

  </body>
</html>
