<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express List</title>
  </head>
  <body>
    <h1>Express List</h1>
    <%- include('./partials/navbar') %> 


<h2>Create A Profile!</h2>
    <form action="/users" method="POST">

    <div>
    <label for="name">Name: </label>
    <input id="name" name="name" type="text"></input>
    </div>
    <div>
    <label for="userName">Username: </label>
    <input id="userName" name="userName" type="text"></input>
    </div>
    <div>
    <label for="password">Password: </label>
    <input id="password" name="password" type="text"></input>
    </div>
    <div>
    <label for="location">Location: </label>
    <input id="location" name="location" type="text"></input>
    </div>
    <button type="submit">Sign Up</button>
    </form>

  </body>
</html>
