<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
    <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
    <script defer src="scripts/app.js"></script>
    <title>Express List</title>
  </head>
  <body class="container-fluid p-0 m-0">
    <header class="row justify-content-center">
      <h1 class="mt-2">Express List</h1>
    </header>

    <%- include('./partials/navbar') %> 
    <%- include('./partials/searchbar') %> 
   

    <div class="sign-cover">
      <div class="user row justify-content-center">
        <span class="user-cover">
          
          <button class="btn" id="sign-up">Sign Up!</button>
        </span>
        <section class="row login-box justify-content-center text-center">
          <div class="align-self-center">
            <h2 class="py-3">Create A Profile!</h2>
            <form class="user-box" action="/users" method="POST">
              <div class="form-items">
              <!-- <label for="name">Name: </label> -->
              <input class="text-input" id="name" name="name" type="text" placeholder="Name"></input>
              </div>
              <div class="form-items">
              <!-- <label for="userName">Username: </label> -->
              <input class="text-input" id="userName" name="userName" type="text" placeholder="Username"></input>
              </div>
              <div class="form-items">
              <!-- <label for="password">Password: </label> -->
              <input class="text-input" id="password" name="password" type="text" placeholder="Password"></input>
              </div>
              <div class="form-items">
              <!-- <label for="location">Location: </label> -->
              <input class="text-input" id="location" name="location" type="text" placeholder="Location"></input>
              </div>
              <button class="btn mt-3" type="submit">Sign Up!</button>
            </form>
          </div>
        </section>
      </div>
    </div>

    <%- include('./partials/footer') %> 

    
  </body>
</html>
