<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
    <title>Express List</title>
  </head>
  <body class="container-fluid" id="background">
    <header class="row justify-content-center">
      <h1>Express List</h1>

    </header>
    <%- include('./partials/navbar') %> 

  <section class="row login-box justify-content-center text-center">
      <div class="align-self-center">
      <h2>Create A Profile!</h2>
    <button class="btn">
      <a class="button-text" href="/users/new">Sign up!</a>
    </button>
    </div>
  </section>

  </body>
</html>
