@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
  /* <!-- //modeled after https://freefrontend.com/css-text-animations/ --> */

  @font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
  }
       
  h1 {
    position: absolute;                      
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 5%;
    font-family: "Clip";
    font-size: 3.5em;
    color: #ffe6ff;
    /* text-shadow:  0 0 1.5rem #ffe6ff,
      -0.2rem 0.1rem 1rem #ffe6ff, 0.2rem 0.1rem 1rem #ffe6ff,
      0 -0.5rem 2rem #ffe6ff, 0 0.5rem 3rem #ffe6ff;
    animation: shine 2s forwards, flicker 3s infinite; */
    
  } 

  
  h2 {
    color:#ffe6ff;
  }

body {
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  background:  url('../Images/pexels-trushotz-3635300_adjustment-one.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffe6ff;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
.nav-bar {
  /* background: #e2f3f5; */
  position: absolute;
  top:0%;
  min-height: 25%;
  width: 7%;
  border-radius: 5%;
}
.navbar-links {
  color: #ffe6ff;
  /* background: #e2f3f5; */
}
.navbar-links:hover{
color: #ffe6ff;
}
.nav-items {
list-style: none;                 
}

.btn {
  background:  #ffe6ff;

}

.button-text {
  color: #0e153a;
}
.button-text:hover {
  text-decoration: none;
  color:#0e153a;
}

.user {
    width: 65%;
    min-height:40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform .3s linear;
}
.user-cover {
  background: #ffe6ff;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  line-height: 80px;
  border-radius: 5%;
  font-size: 1.6em;
  transition: transform .7s ease-in-out;
  z-index: 2;
  overflow: hidden;
  
}
.sign-cover {
  display: flex;
  flex-direction: column;
  position: relative;
  top:25%;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
}

/* .user:hover .user-cover {
transform: translateX(-110%);
} */

#sign-up {
  background-color: black;
  color:#ffe6ff;
  font-family: Clip;
  font-weight: 700;
  position: relative;
  top:35%;
  
}
#sign-up:hover{
        transform: scale(1.2);
}
#search-btn {
  background-color: black;
  color:#ffe6ff;
  font-family: Clip;
  font-weight: 700;
  outline:none;
}

.form-items {
  width:100%
}

.text-input {
  width: 100%;
  margin: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-bottom: solid 2px #ffe6ff;
  outline: none;
}

footer {
  height: 5%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0%;
}

.search-bar {
  margin: auto;
  width:90%;
  text-decoration: none;
  outline: none;
}
#input-bar {
  outline: none;
  background-color: #ffe6ff;
}




