h1 {
    color:#22d1ee;
}

.listing-div {
    background: #e2f3f5;
    margin: 0 auto;
    padding: 30px;
    color:#22d1ee;
    width: 65%;
    min-height: 90%;
    border-radius: 5%;
}

.list-items {
    color: #22d1ee;
    font-size: 22px;
}
.list-anchor {
    color: #22d1ee;
}
.list-anchor:hover{
    color:#22d1ee;
    }