h1 {
  color: #22d1ee;
}

.edit-box {
    background-color: rgba(0, 0, 0, .5);
    margin: 0 auto;
    padding: 30px;
    color:#ffe6ff;
    width: 65%;
    min-height: 90%;
    border-radius: 5%;
}

.text-input {
  display: block;
  background-color: rgba(0, 0, 0, .05);
  border: none;
  position: relative;
  left: 3%;
}