h1 {
  color: #ffe6ff;
}

section {
    background-color: rgba(0, 0, 0, .5);
    margin: 0 auto;
    padding: 30px;
    color:#ffe6ff;
    width: 65%;
    min-height: 90%;
    border-radius: 5%;
}

.button-anchor {
  color: #0e153a;
}

.button-anchor:hover {
  color: #0e153a;
  text-decoration: none;
}

.user-form-buttons {
  display: inline;
}

.user-products {
  color:#ffe6ff;
}

.user-products:hover {
  color:#ffe6ff;
}