<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express List</title>
  </head>
  <body>
    <h1> List An Item! </h1>
    <%- include('../partials/navbar') %> 


    <form action="/products" method="POST">

      <div>
        <select name="user">
          <% users.forEach((user) => { %>
            <option value="<%= user.id %>"><%= user.name %></option>
          <% }) %>
        </select>
      <label for="type">For Sale: </label>
      <input id="type" name="type" type="text"></input>
      </div>
      <div>
      <label for="price">Price: </label>
      <input id="price" name="price" type="text"></input>
      </div>
      <div>
      <label for="condition">Condition: </label>
      <input id="condition" name="condition" type="text"></input>
      </div>
      <div>
      <label for="image">Image: </label>
      <input id="image" name="image" type="text"></input>
      </div>
      <button type="submit">Create</button>
      </form>
  </body>
</html>